table {
	table-layout: fixed;
}
h1 {
	color: #000000;
}
button {
	margin: 40px;
	padding: 5px;
	width: 70px;
	border-radius: 5px;
	color: white;
	background-color: white;
}
div {
	background-color: #D26B6B;
}
nav a:hover {
	background-color: #A9E2F3;
	text-decoration: underline;
	font-size: 100%;
	background-image: none;
	color: black;
	
}
button a:hover {
	background-color: #CDCDCD;
}
body {
	background-color: #CEF6F5;
}
a:focus {
	background-color: #CDCDCD;
}
a:active {
	border-radius: 100px;
}
nav {
	display: block;
	width: 100%;
	height: 65px;
	background-color: #CEF6F5;
	padding: 20px;
	text-align: center;
}
nav a {
	color: #CEF6F5;
	border-radius: 30px;
	text-decoration: none;
	padding: 15px;
	border: 20px;
	margin: auto;
	background-image: linear-gradient(#CAFFF9, #7E0000);
	width: 200px;
	height: 20px;
	text-align: center;
	display: inline;
}
/*
form {
	color: lime;
	background-color: black;
}
form:hover {
	background-color: white;
	color: red;
}
*/
header {
	display: block;
	background-color: #CEECF5;
	height: 1605px;
	width: 100%;
	padding: 5px;
	text-align: justify;
	border-color: black;
}
@media only screen and (max-width: 600px) {
	nav a {
		height: 10px;
		width: 10px;
	}
}
